body {
    height: 100 vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5 px;

}

.coin{
    height: 50 px;
    width: 50 px;
    border: 1 px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

section{
    display: flex;
    flex-wrap: wrap;



}